*{
    margin: 0;
    padding: 0;
}

.container
{
    /* border: 2px solid black; */
    display: flex;
    margin:0px 20px;
}

.text-area
{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    width: 50%;
    margin: 40px;
}

.form-area
{
    /* border: 2px solid blue; */
    width: 40%;
    margin: 40px;
}

.sub-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 20px;
    padding-top: 20px;
}

.sub-form h1
{
    margin: 20px 0px;
}

.sub-form input
{
   
    height: 40px;
    width: 65%;
    margin-top: 15px;
    padding: 10px;
}
.error-box
{
    width: 65%;
    text-align: right;
}

.msg{
    text-align: right;
    /* background-color: red; */
}

#sub-btn
{
    height: 50px;
    width: 69%;
    margin: 20px;
    margin-bottom: 40px;
}
